@using ChefKnifeStudios.ExpenseTracker.Shared.DTOs

<div class="expense-blade">
    <BladeContainer @ref="_bladeContainer">
        <ContentFragment>
            <MatH4 class="clr-on-1t-container">
                Expense
            </MatH4>

            <form>
                <MatTextField 
                    @bind-Value="@_name" 
                    Label="Choose a Name" 
                    Icon="create" 
                    Required="true" 
                    Disabled="_isLoading"
                />

                <MatTextField 
                    @bind-Value="@_cost" 
                    Label="Apply a Cost" 
                    Icon="attach_money"
                    Required="true"
                    Disabled="_isLoading" 
                />

                <MatCheckbox
                    @bind-Value="@_isRecurring"
                    Label="Is this a recurring expense?"
                />

                <MatButton 
                    OnClick="HandleSubmitPressedAsync"
                    Unelevated="true"
                    Label="SUBMIT"
                    Disabled="_isLoading" />
            </form>

            <MatDivider Style="margin: 0.5rem 0;" />

            <div class="btns">
                <MatButton 
                    OnClick="@HandlePickPictureAsync"
                    Unelevated="true"
                    Label="PICK PHOTO"
                    Icon="insert_photo" 
                    Disabled="_isLoading"
                />

                <MatButton
                    OnClick="@HandleTakePictureAsync"
                    Unelevated="true"
                    Label="CAPTURE PHOTO"
                    Icon="add_a_photo"
                    Disabled="_isLoading" />

                <MatDivider />

                @if (!ExpenseViewModel.IsListening)
                {
                    <MatButton
                        OnClick="@HandleStartListeningAsync"
                        Unelevated="true"
                        Label="TELL ME"
                        Icon="mic"
                    />
                }
                else
                {
                    <MatButton
                        OnClick="@HandleStopListeningAsync"
                        Unelevated="true"
                        Label="STOP LISTENING"
                        Icon="mic_off"
                    />
                }
            </div>
        </ContentFragment>
    </BladeContainer>
</div>