@using MatBlazor
@using ChefKnifeStudios.ExpenseTracker.Shared.DTOs

<div class="expense-blade">
    <BladeContainer @ref="_bladeContainer">
        <ContentFragment>
            <MatH4 class="clr-on-1t-container">
                Expense
            </MatH4>

            @if (_isLoading)
            {
                <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Large" />
            }
            else
            {
                <form>
                    <MatTextField 
                        @bind-Value="@_name" 
                        Label="Choose a Name" 
                        Icon="create" 
                        Required="true" 
                    />
                    <MatTextField 
                        @bind-Value="@_cost" 
                        Label="Apply a Cost" 
                        Icon="attach_money" 
                        Required="true" 
                    />
                    <MatAutocompleteList 
                        Items="_budgets"
                        Icon="list"
                        TItem="BudgetDTO"
                        CustomStringSelector="@(x => x?.Name)"
                        @bind-Value="@_selectedBudget"
                        Label="Pick a Budget" 
                    />

                    <MatButton 
                        OnClick="HandleSubmitPressedAsync"
                        Unelevated="true"
                    >
                        SUBMIT
                    </MatButton>
                </form>
            }

            <hr />
            
            <div class="btns">
                <MatButton 
                    OnClick="@HandlePickPicture"
                    Unelevated="true"
                >
                    PICK PHOTO
                </MatButton>

                <MatButton 
                    OnClick="@HandleTakePicture"
                    Unelevated="true"
                >
                    CAPTURE PHOTO
                </MatButton>
            </div>
        </ContentFragment>
    </BladeContainer>
</div>