@using ChefKnifeStudios.ExpenseTracker.Shared.DTOs

<div class="expense-blade">
    <BladeContainer @ref="_bladeContainer">
        <ContentFragment>
            @if (_isLoading)
            {
                <div class="expense-blade__overlay">
                    <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Large" />
                </div>
            }

            <MatH4 class="clr-on-1t-container">
                Expense
            </MatH4>

            <div class="blade-content">
                <div class="form">
                    <MatTextField 
                        @bind-Value="@_name" 
                        Label="Choose a Name" 
                        Icon="create" 
                        Required="true" 
                        Disabled="_isLoading"
                    />

                    <MatTextField 
                        @bind-Value="@_cost" 
                        Label="Apply a Cost" 
                        Icon="attach_money"
                        Required="true"
                        Disabled="_isLoading" 
                    />

                    <MatCheckbox
                        @bind-Value="@_isRecurring"
                    >
                        <span class="is-recurring-label">
                            <MatIcon 
                                Icon="autorenew"
                                Class="is-recurring-label-icon" 
                            />
                            Is this a recurring expense?
                        </span>
                    </MatCheckbox>

                    <MatButton 
                        OnClick="HandleSubmitPressedAsync"
                        Unelevated="true"
                        Label="SUBMIT"
                        Disabled="@(_isLoading || ExpenseViewModel.IsListening)" 
                    />
                </div>

                <div class="btns">
                    <MatButton 
                        OnClick="@HandlePickPictureAsync"
                        Outlined="true"
                        Label="PICK PHOTO"
                        Icon="insert_photo" 
                        Disabled="@(_isLoading || ExpenseViewModel.IsListening)"
                    />

                    <MatButton
                        OnClick="@HandleTakePictureAsync"
                        Outlined="true"
                        Label="CAPTURE PHOTO"
                        Icon="add_a_photo"
                        Disabled="@(_isLoading || ExpenseViewModel.IsListening)" 
                    />

                    <MatDivider />

                    @if (!ExpenseViewModel.IsListening)
                    {
                        <MatButton
                            OnClick="@HandleStartListeningAsync"
                            Outlined="true"
                            Label="TELL ME"
                            Icon="mic"
                            Disabled="_isLoading" 
                        />
                    }
                    else
                    {
                        <MatButton
                            OnClick="@HandleStopListeningAsync"
                            Outlined="true"
                            Label="STOP LISTENING"
                            Icon="mic_off"
                            Disabled="_isLoading" 
                        />
                    }
                </div>
            </div>
        </ContentFragment>
    </BladeContainer>
</div>