@using Microsoft.AspNetCore.Components.QuickGrid

<div class="budget-expense-list">
    @if (SearchViewModel.IsLoading)
    {
        <p>Loading...</p>
    }
    else
    {
        @* Use https://www.matblazor.com/ExpansionPanel for budget list *@
        <MatAccordion Multi="true">
            @foreach (var budget in SearchViewModel.Budgets ?? [])
            {
                <MatExpansionPanel>
                    <MatExpansionPanelSummary>
                        <MatExpansionPanelHeader>@budget.Name</MatExpansionPanelHeader>
                        <MatExpansionPanelSubHeader>
                            @{
                                string str = $"{FormatAsDollar(budget.ExpenseDTOs?.Sum(x => x.Cost) ?? 0.0m)} / {@FormatAsDollar(budget.ExpenseBudget)}";
                            }
                            <span>@str</span>
                        </MatExpansionPanelSubHeader>
                    </MatExpansionPanelSummary>
                    <MatExpansionPanelDetails>
                        @if (budget.ExpenseDTOs != null && budget.ExpenseDTOs.Any())
                        {
                            <QuickGrid 
                                Items="@budget.ExpenseDTOs.OrderByDescending(x => x.Id).AsQueryable()" 
                                Pagination="_pagination"
                            >
                                <PropertyColumn Title="Name" Property="@(x => x.Name)" />
                                <PropertyColumn Title="Cost" Property="@(x => x.Cost)" />
                            </QuickGrid>
                        }
                        else
                        {
                            <p>No expenses available for this budget.</p>
                        }
                    </MatExpansionPanelDetails>
                </MatExpansionPanel>
            }
        </MatAccordion>
    }
</div>